@font-face {
    font-family: 'Beach';
    src: url('fonts/Beach.ttf') format('truetype'); /* Caminho para o arquivo de fonte */
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #fcf5e9;
    color: black;
    line-height: 1.6;
    padding: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/cardapio-fundo.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color:#3C5F95;
    font-family: 'DynaPuff',sans-serif;
    font-size: 4rem;
    margin-bottom: 10px;
    border-bottom: 3px solid #ffffff;
    border-radius: 50%; 
    text-shadow: 
    -1px -1px 0 #ffffff, /* sombra à esquerda e acima */
    1px -1px 0 #ffffff,  /* sombra à direita e acima */
    -1px 1px 0 #ffffff,  /* sombra à esquerda e abaixo */
    1px 1px 0 #ffffff; 
}

.menu-section {
    margin-bottom: 50px;
}

h2{
    font-family: 'Righteous',sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 
    -1px -1px 0 #000000, /* sombra à esquerda e acima */
    1px -1px 0 #000000,  /* sombra à direita e acima */
    -1px 1px 0 #000000,  /* sombra à esquerda e abaixo */
    1px 1px 0 #000000;
    margin-top: 10%;
}

h3 {
    color: #e3c3a5;
    font-family: 'Righteous',sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.category h3 {
    font-size: 1.8rem;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    color: white;
    font-family: 'Passion One',sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-shadow: 
        -1px -1px 0 #000, /* sombra à esquerda e acima */
        1px -1px 0 #000,  /* sombra à direita e acima */
        -1px 1px 0 #000,  /* sombra à esquerda e abaixo */
        1px 1px 0 #000; 
}

.price {
    color: white; /* Cor do texto principal */
    text-shadow: 
        -1px -1px 0 #000, /* sombra à esquerda e acima */
        1px -1px 0 #000,  /* sombra à direita e acima */
        -1px 1px 0 #000,  /* sombra à esquerda e abaixo */
        1px 1px 0 #000; 
    font-weight: bold;
}

button {
    font-family: 'Righteous',sans-serif;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
p{
    font-family: 'Passion One',sans-serif;
    color: white;
    text-shadow: 
        -1px -1px 0 #000, /* sombra à esquerda e acima */
        1px -1px 0 #000,  /* sombra à direita e acima */
        -1px 1px 0 #000,  /* sombra à esquerda e abaixo */
        1px 1px 0 #000;
        margin-top: 10px;     
}

li.sanduiche{
border-bottom: none;
}


.combo{
    border: 2px white solid;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 5%;
}

.paragrafo-sanduiche{
    border-bottom: 1px solid #ccc;
}

button:hover {
    background-color: #ebebeb;
}

.observacoes > h3{
    color: black;
}

.observacoes > p{
    color: black;
}

.observacoes{
    font-family: 'Righteous',sans-serif;
    opacity: 80%;
    padding: 03%;
    background-color: white;
}

.products{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.category-title{
    
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}
.category-title::after{
    content: "▼"; /* Símbolo de seta para baixo */
    position: absolute;
    right: 0;
    font-size: 16px;
    transition: transform 0.3s ease; /* Para rotação suave */
}
.category-title.expanded::after {
    transform: rotate(180deg); /* Roda a seta quando a categoria está expandida */
}

a{
    text-decoration: none;
    color: #72b464;
}

.whatsapp-contact {
    display: flex;
    align-items: center;
    gap: 8px; /* Ajuste o espaço entre o ícone e o texto conforme necessário */
}

.whatsapp-icon {
    width: 40px; /* Defina o tamanho do ícone */
    height: 40px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    li {
        font-size: 1rem;
    }
}
