@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

body,.home{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.home {
    background-image: url('../imgs/no_mark.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}


.content {
    text-align: center;
    color: white;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color:#000000;
    font-family: 'Permanent Marker',sans-serif;
    margin-top: 65%;
    font-size: 2rem;
    text-shadow: 
        -1px -1px 0 #ffffff, /* sombra à esquerda e acima */
        1px -1px 0 #ffffff,  /* sombra à direita e acima */
        -1px 1px 0 #ffffff,  /* sombra à esquerda e abaixo */
        1px 1px 0 #ffffff; 
}

button {
    font-family: 'Passion One',sans-serif;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    position: absolute;
    top: 35vh;
    width: 50vw;
}


button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


/* Classe que simula a rolagem para cima */
.slide-up {
    transform: translateY(-100%); /* Desliza a página para cima */
}

